.footersection {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;

    .tips {
        position: relative;
        display: flex;
        align-items: center;
        background-color: rgba(72, 0, 255, 0.678);
        width: 100%;


        .content1 {
            position: relative;
            font-size: 1.5rem;
            display: flex;
            padding: 1.5rem 0;
            padding-left: 9rem;
            color: white;
            width: 20%;
        }

        .searchbar1 {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 80%;
            font-size: 20px;
            border-radius: 5px;
        }

        .searchbar{
            position: relative;
            width: 25%;
            margin-left: 3%;
            padding: 0.5rem 0.7rem;
            font-size: 1rem;
            border-radius: 5px;
            border: 0;
        }
        .searchbar2{
            position: relative;
            width: 25%;
            padding: 0.5rem 0.7rem;
            font-size: 1rem;
            margin-left: 5%;
            border-radius: 5px;
            border: 0;
        }
        .searchbar2:focus{
            outline: none;
            border: none;
        }
        .searchbar:focus{
            outline: none;
            border: none;
        }

        .submitBtn{
            position: relative;
            display: flex;
            margin-left: 4rem;
            background-color: orange;
            padding: 0.5rem 0.8rem;
            border-radius: 5px;
            cursor: pointer;
        }
    }

    .last {
        position: relative;
        display: flex;

    }

    .footercontent {
        position: relative;
        display: flex;
        height: 15rem;
        background-color: rgb(65, 23, 138);

        .search {
            position: relative;
            display: flex;
            width: 75%;
        }

        .follow {
            position: relative;
            display: flex;
            width: 25%;
            
        }
    }
}